/*ANIMATIONS*/
a,
.proyecto,
.proyecto__contenido,
.proyecto__img,
.btn-primary {
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}