$primary: #015bff;
$secondary: #03296e;

$form_input: #495057;
$white_smoke: #e8edf1;

$white: #FFF;

$border: 1px solid $form_input;
$border_radius: .25rem;

$colores_extra: (
    azul: blue,
    gris: grey);

$font_main: 'Poppins',
    sans-serif;